{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Product Details
{% endblock title %}

{% block content %}


<section class="vh-70">
    <div class="container-fluid py-2 h-100" id="post-page">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-10 card p-4 border-0" id="add-card">
                <form method="POST" action="{% url 'add_products' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Image field -->
                    <div class="row mb-3">
                       <!--  <div class="mb-3 col-md-6">
                            <div data-mdb-input-init class="form-outline name">
                            <input type="file" class="form-control" id="pic" name="pic" />
                            <label class="form-label" for="customFile">Product Image</label>
                        </div>
                    </div> -->

                        <!-- <div class="form-outline col data-mdb-input-init">
                            <label class="form-label" for="name">Product Name</label>
                            <input type="text" id="name" class="form-control" name="name" />

                        </div> -->
                        
                            <div class="col-md-6 mb-3">
                              <div data-mdb-input-init class="form-outline name">
                                <input type="text" class="form-control" id="name" name="name"/>
                                <label for="name" class="form-label">Product Name</label>
                              </div>
            
                            </div>
                        
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline name">
                                  <input type="text" class="form-control" id="price" name="price" />
                                  <label for="price" class="form-label">Product Price</label>
                                </div>
                              </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-outline">
                                <select id="category" class="form-select" name="category" required data-mdb-select-init>
                                    <option value="">Select Category...</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">
                                        {{ category.name }} - {{ category.description|slice:":60" }}...
                                    </option>
                                    {% endfor %}
                                </select>
                                <!-- <label class="form-label" for="category">Product Category</label> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-outline">
                                <select id="brand" class="form-select" name="brand" required data-mdb-select-init>
                                    <option value="">Select Brand...</option>
                                    {% for brand in brands %}
                                    <option value="{{ brand.id }}">
                                        {{ brand.name }} 
                                    </option>
                                    {% endfor %}
                                </select>   
                                <!-- <label class="form-label" for="category">Product Category</label> -->
                            </div>
                        </div>

                    </div>

                    <div class="row mb-4">
                         <!-- <div class="mb-3 col-md-6">
                            <label class="form-label">Upload Product Images</label>
                            <input type="file" name="images" class="form-control" multiple required>

                            <div data-mdb-input-init class="form-outline name">
                            <input type="file" class="form-control" id="pic" name="pic"  multiple required/>
                            <label class="form-label" for="customFile">Product Image</label> -->
                            <div class="mb-3 col-md-6">
                                <div data-mdb-input-init class="form-outline name">
                                <input type="file" class="form-control" id="pic" name="pic" />
                                <label class="form-label" for="customFile">Product Image</label>
                            </div>


                         </div> 

                        <div class="row mb-3">
                            <div class="form-outline" data-mdb-input-init>
                                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                                <label class="form-label" for="textAreaExample">Product Description</label>
                            </div>
                        </div>
                        

                    </div>
                    

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Add Product Details</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}