{% extends 'public/base.html' %}
{% load static %}
{% block content %}
    
    <div class="container">
        <h1>Get in Touch</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://img.freepik.com/free-vector/social-media-manager-concept-illustration_114360-21811.jpg?t=st=1743098322~exp=1743101922~hmac=f3eb5de1e345da96e763754c370633ea564e2c047fdf22af0b550d7d54bc6906&w=740" alt="Contact">
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock content %}
