{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Ordered Items</h2>
    {% if orders %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price (KES)</th>
                    <th>Total Price (KES)</th>
                    <th>Date Ordered</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.product.price }}</td>
                    <td>{{ order.Totalprice|floatformat:2 }}</td>
                    <td>{{ order.created_at|default:"-" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-danger">No orders have been placed yet.</p>
    {% endif %}
</div>
{% endblock %}
