{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="organic-section">
    <div class="container text-center">
        <h1 class="organic-title">A1 Products here at TechBuy</h1>

        <div class="mb-2">
            <button type="button" class="btn btn-outline-dark btn-rounded   btn-lg add-product" data-mdb-modal-init
                data-mdb-target="#exampleModal" data-mdb-ripple-color="#000000"> Add Product(s) <i
                    class="fa-solid fa-plus ms-1"></i></button>
        </div>



        <div class="row justify-content-center">
            {% for product in products %}
            <div class="col-md-4">
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                    <!-- Link to product detail page -->
                    <div class="product-card">
                        <!-- Removed modal attributes -->
                        <img src="{{ product.pic.url }}" alt="{{ product.name }}" class="img-fluid">
                    </div>
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                </a>
            </div>
            {% endfor %}

        </div>

        <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <form id="productsForm">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Product <small>(s)</small></small></h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-4 text-start">
                                <label class="form-label text-dark" for="form12"><strong>Product Name</strong></label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>

                            <div class="mb-4 text-start">
                                <label class="form-label text-dark" for="form12"><strong>Product Price</strong></label>
                                <input type="text" class="form-control" name="price" id="price" required>
                                
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        <select id="category" class="form-select" name="category" required
                                            data-mdb-select-init>
                                            <option value="">Select Category...</option>
                                            {% for category in categories %}
                                            <option value="{{ category.id }}">
                                                {{ category.name }}
                                            </option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-outline">
                                        <select id="brand" class="form-select" name="brand" required
                                            data-mdb-select-init>
                                            <option value="">Select Brand...</option>
                                            {% for brand in brands %}
                                            <option value="{{ brand.id }}">
                                                {{ brand.name }}
                                            </option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 text-start">
                                <label for="formFile" class="form-label text-dark"><strong>Product Image</strong></label>

                                <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04"
                                    aria-label="Upload" id="pic" name="pic" />
                            </div>

                            <div class="mb-2 text-start">
                                <label class="form-label text-dark text-start" for="textAreaExample"><strong>Product Description</strong></label>
                                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                                
                            </div>





                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close-category" data-mdb-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary add-products" id="submitBtn">Save
                                Brand</button>
                            <span id="spinner" style="display: none;">
                                <i class="fas fa-hourglass-half fa-spin"></i>
                                <!-- <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> -->
                            </span>
                        </div>
                </div>
                </form>
            </div>
        </div>

        <div id="overlay-loader"
            style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); z-index: 1050; align-items: center; justify-content: center; flex-direction: column; color: white; font-size: 20px;">
            <div class="spinner-border text-light" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-3">Updating Products...</p>
        </div>

</section>




<script>
    $('#productsForm').on('submit', function (e) { 
        e.preventDefault();

        let formData = new FormData(this);

        $('#submitBtn').prop('disabled', true);
        $('#spinner').show();
        $('#exampleModal').find('.modal-content').append(
            '<div class="modal-overlay" style="position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.7);z-index:1040;"></div>'
        );

        $.ajax({
            type: 'POST',
            url: "{% url 'add_products' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#spinner').hide();
                $('#submitBtn').prop('disabled', false);

                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.message,
                        timer: 7000,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false
                    })

                    $('#productsForm')[0].reset();
                    $('#exampleModal').modal('hide');

                    $('#overlay-loader').addClass('show');

                    setTimeout(function () {
                        location.reload();
                    }, 1000);

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.message,
                        timer: 6000,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false
                    });
                }
            },
            error: function (xhr, errmsg, err) {
                $('#spinner').hide();
                $('#submitBtn').prop('disabled', false);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    // text: 'An unexpected error occurred: ' + xhr.status + ' ' + errmsg,
                    text: 'An unexpected error occurred',
                    timer: 6000,
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false
                });

            }
        });
    });
</script>




{% endblock content %}
