{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="organic-section">
    <div class="container text-center">
        <h1 class="organic-title">A1 Products here at TechBuy</h1>
        <a href="{% url 'add_products' %}" class="btn px-3 me-2" id="login-link"><button
                class="btn btn-style btn-primary me-lg-3" type="submit">Add Product</button></a>

        <div class="row justify-content-center">
            <!-- All In oNes -->
            <!-- {% for product in products %}
            <div class="col-md-4">
                <div class="product-card" data-mdb-modal-init data-mdb-target="#exampleModal">
                    <img src="{{product.pic.url}}" alt="Product Image">
                </div>
                <h3 class="product-title">{{product.name}}</h3>
                <p class="product-description">{{product.description}}</p>
            </div>
            {% endfor %} -->
            {% for product in products %}
            <div class="col-md-4">
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                    <!-- Link to product detail page -->
                    <div class="product-card">
                        <!-- Removed modal attributes -->
                        <img src="{{ product.pic.url }}" alt="{{ product.name }}" class="img-fluid">
                    </div>
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                </a>
            </div>
            {% endfor %}

        </div>
</section>

<style>

</style>

{% endblock content %}
