@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
      
}

.organic-section {
  /* background-color: #a16a3a;  */
  /* background-color: #db9248; */
  /* background: linear-gradient(to right, #985214 0%, #db9248 100%); */
  background: linear-gradient(to right, #8c4712, #ba7116, #e39c45, #E5C29F);
  padding: 60px 0;
}
.organic-title {
  color: #f8ecc2;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.product-card {
  background-color: #f8ecc2;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  
}
.product-image img{
  width: 100%;
  height: 250px;
  object-fit: contain;

}
.product-title {
  font-size: 1.5rem;
  color: #f8ecc2;
  margin-top: 10px;
}
.product-description {
  color: #f8ecc2;
  font-size: 1rem;
}

#add-btn{
  background-color: #a16a3a !important;
  font-weight: 700;

}
#modal-close{
  background-color: #DEC59B;
  color: black;
}

.add-to-cart{
  /* background-color: #a16a3a; */
  color: #ffffff;
  font-weight: 700;
  height: 6.5vh;
}

/* .add-to-cart:hover{
  background-color: #a16a3a;
  font-weight: 700;
} */

.wishlist-icon{
  color: #a16a3a;
}

.badge-category{
  background-color: #A65F39;

}

.badge-brand{
  background-color:#C58856 ;

}
.badge-seller{
  background-color: #544940;

}
.order-btn{
  background-color: #544940;
  color: #f8ecc2;
  font-weight: 700;
}