.reviews {
    background-color: rgb(237, 183, 136);
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
    color: rgb(21, 21, 21);
    text-align: center;
}

.reviews-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.reviews img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
}

.reviews p {
    font-size: 16px;
    max-width: 600px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
}