.carousel-img {
    height: 500px; /* Ensure uniform height */
    width: 100%;
    object-fit: cover; /* Prevent image stretching */
}

/* Remove white gap between slides */
.carousel-inner {
    transition: opacity 0.5s ease-in-out; /* Smooth fade transition */
}

/* Ensure the first slide is visible immediately */
.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel-item.active {
    opacity: 1;
    position: relative;
}

.brand-story {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f8ecc2;
}


.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Text Styling */
.text-container {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #faeec9; /* Light cream */
}

.text-container h2 {
    font-size: 28px;
    color: #a15b32; /* Brown tone */
    margin-bottom: 10px;
}

.text-container p {
    font-size: 18px;
    color: #5c3b24;
    line-height: 1.6;
}


/* sweet alert Styling */
.swal2-popup.custom-toast {
    background-color: #faeec9 !important; 
    color: white !important;
}

.swal2-title,
.swal2-content {
    color: white !important;
}

.swal2-styled.swal2-confirm {
    background-color: #fff !important;
    color: #5c3b24 !important;
}
 /* Home Images Products */

 .home-images{
    width: 100%;
  height: 250px;
  object-fit: contain;

 }

 .home-images-container:hover {
    transform: scale(1.05);
  }