.carousel-img {
    height: 500px; /* Ensure uniform height */
    width: 100%;
    object-fit: cover; /* Prevent image stretching */
}

/* Remove white gap between slides */
.carousel-inner {
    transition: opacity 0.5s ease-in-out; /* Smooth fade transition */
}

/* Ensure the first slide is visible immediately */
.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel-item.active {
    opacity: 1;
    position: relative;
}

.brand-story {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f8ecc2;
    margin-top: 2%;
}


.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Text Styling */
.text-container {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #faeec9; /* Light cream */
}

.text-container h2 {
    font-size: 28px;
    color: #a15b32; /* Brown tone */
    margin-bottom: 10px;
}

.text-container p {
    font-size: 18px;
    color: #5c3b24;
    line-height: 1.6;
}

/* setup styling */
.add:hover{
    background-color: #faeec9;
    color:#000;
}

.add-category, .add-products, .add-to-cart-home{
    background-color: #a15b32;
    padding: 10px;
}

.add-products:hover, .add-category:hover, .add-to-cart-home:hover{
    background-color: #a15b32;
}



.close-category{
    background-color: #faeec9;
    padding:10px;
    color: #000;
}

.product-image-detail{
    width: 100%;
    height: 50vh;
    object-fit: contain;
}

.close-category:hover{
    background-color: #faeec9;
    
}


/* Modal  Styling On submit */
/* Add this to your CSS file */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#overlay-loader.show {
    display: flex !important;
}

 /* Home Images Products */

 .home-images{
    width: 100%;
  height: 250px;
  object-fit: contain;

 }

 .home-images-container:hover {
    transform: scale(1.05);
  }


