{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!--Main Navigation-->
<header>
    <style>
      #intro {
        background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
        height: 100vh;
      }
  
      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
  
      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
  
  
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">

        
        <div class="container">
           
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8 bg-white rounded shadow-5-strong p-5">
              <form class="" action="{% url 'login' %}" method="POST">

                {% csrf_token %}

                <!-- Email input -->
                <div class="mb-4">
                    <label class="form-label text-dark" for="Username"> <strong>Username</strong></label>
                  <input type="text" id="name" name="username" class="form-control border border-info" required/>
                </div>
  
                <!-- Password input -->
                <div class="mb-4">
                    <label class="form-label text-dark" for="password"><strong>Password</strong></label>
                  <input type="password" id="password" name="password" class="form-control border border-info" required />
                </div>
  
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                      <label class="form-check-label" for="form1Example3">
                        Remember me
                      </label>
                    </div>
                  </div>
  
                  <div class="col text-center">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block" data-mdb-ripple-init>Sign in</button>
              </form>
              <div class="text-center p-2" id="login-btns">
                <p class="not-member">Not a member? <a href="{% url 'register' %}">Register</a></p>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  
  
 



  {% endblock content %}