{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid">
  <!-- <div class="container"> -->

  <!-- Carousel -->
  <div id="techbuy" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#techbuy" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#techbuy" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#techbuy" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner" style="margin-top: 1%;">
      <div class="carousel-item active">
        <img src="/static/images/IZO Mechanical Keyboard - White Blossom.jpg" alt="Los Angeles"
          class="d-block w-100 carousel-img" style="height: 80vh;">
      </div>
      <div class="carousel-item">
        <img
          src="/static/images/Line Patch Chocolate MacBook Case Protect Cover for MacBook Pro 14 Case MacBook Air 13 Case Pro 13 Case, Pro 15, Pro 16, MacBook Pro Case - Etsy.jpg"
          alt="Chicago" class="d-block w-100 carousel-img" style="height: 80vh;">
      </div>
      <div class="carousel-item">
        <img src="/static/images/77e4e3c3-60ee-452f-a4bd-3edc4e7a9ed3.jpg" alt="New York"
          class="d-block w-100 carousel-img" style="height: 80vh;">
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#techbuy" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#techbuy" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <div class="row">

  </div>
  <div class="brand-story">
    <div class="image-container">
      <img src="/static/images/ba2d290e-85ea-47b5-b7e9-137600e24f8b.jpg" alt="Brand Story Image">
    </div>
    <div class="text-container">
      <h2>Our Brand Story</h2>
      <p>Viridian Castle Co. was founded by Cleo Smith in 2015. The company is dedicated to producing high-quality
        products that you will surely love.</p>
    </div>
  </div>

  <header>
    <!-- Intro settings -->
    <style>
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }

      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

    
    
    
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts</strong></h4>

        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay home-images-container" data-mdb-ripple-init data-mdb-ripple-color="light">
                
                <img src="{{product.pic.url}}" class="img-fluid home-images" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                  <!-- Some quick example text to build on the card title and make up the bulk of the
                  card's content. -->
                  {{product.description|truncatewords:15}}
                </p>
                <a href="#!" class="btn btn-primary add-to-cart-home" data-mdb-ripple-init>Add To Cart</a>
              </div>
            </div>
            
            
          </div>
          {% endfor %}
        </div>
      </section>
      <!--Section: Content-->

      <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      
    </div>
  </main>
  <!--Main layout-->

  





</div>
</div>


{%endblock%}