{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: white; padding: 10px;">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/techbuy logo.png' %}" alt="Logo" style="height: 40px;">
        </a>

        <!-- Navbar Toggle Button for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar Content -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav text-center" style="color: black; font-weight: bolder;">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}" style="color: black;"><b>TECH BUY</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}" style="color: black;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" style="color: black;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews' %}" style="color: black;">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_us' %}" style="color: black;">Contact</a>
                </li>
                
                {% if user.is_authenticated %}
                {% if user.role == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}" style="color: black;">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'setup' %}" style="color: black;">Set Up</a>
                </li>
                {% endif %}
                <a href="{% url 'logout' %}" class="mt-1" id="register-link"><button class="btn btn-secondary me-3" type="submit">Logout</button></a>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}"><button class="btn btn-white me-lg-3" type="submit">Register</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><button class="btn btn-secondary me-lg-3" type="submit">Login</button></a>
                </li>
                
                {% endif %}
                

            </ul>
            <div class="end">
                <button type="button" class="btn btn-secondary" data-mdb-modal-init data-mdb-target="#viewCartBtn">
                    <i class="fa-solid fa-cart-shopping"></i> view Cart
                  </button>
            </div>
            
            
        </div>
        
    </div>
</nav>
